<div class="modal-header">
  <h5 class="modal-title mx-auto" id="ModalLabel">
    <%= action_name == "new" ? "New" : "Edit"%> Account
  </h5>
</div>
<div class="modal-body">
  <%= render 'form', account: @account %>
</div>