<div class="modal-header">
  <h5 class="modal-title mx-auto" id="ModalLabel">
    <%= action_name == "new" ? "New" : "Edit"%> Group
  </h5>
</div>
<div class="modal-body">
  <%= render 'form', group: @group %>
</div>