@import 'toastify-js/src/toastify.css';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import './portal';

.nav-tabs {
  border-bottom: 1px solid #15a362;
}

.nav-link, .nav-link:hover, .nav-link:focus {
  color: #15a362;
}


.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #15a362 #15a362 #15a362;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #15a362;
  font-weight: bold;
  background-color: #edfdf6;
  border-color: #15a362 #15a362 #fff;
}

[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
  color: #15a362;
}

[type="file"]::-webkit-file-upload-button {
  background    : #15a362;
  border        : 2px solid #15a362;
  border-radius : 4px;
  color         : #fff;
  cursor        : pointer;
  font-size     : 12px;
  outline       : none;
  padding       : 10px 25px;
  text-transform: uppercase;
  transition    : all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #15a362;
  border    : 2px solid #535353;
  color     : #fff;
}

/* Format modal title */
h5.modal-title {
  margin: auto;
}